
//———————————————————————————————————————————————
// Classes, Placeholders, Mixins
//———————————————————————————————————————————————

.container {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
%container {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}

//———————————————————————————————————————————————
// Base Resets
//———————————————————————————————————————————————

html { box-sizing: border-box !important; }
*, *:before, *:after, *::before, *::after {
  box-sizing: inherit !important;
  font-family: $font-family;
  // text-rendering: optimizeLegibility !important;
  // -webkit-font-smoothing: antialiased !important;
  // -moz-osx-font-smoothing: grayscale !important;
}
html {
  font-size : 100%;
}
html, body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}
body, p {
  // font-weight: 500;
  //line-height: 1.5;
  font-size: 1em;
}


