
//——————————————————————————————————————————————————————————————————————————————
// Buttons
//——————————————————————————————————————————————————————————————————————————————

%button-base {
  appearance     : none;
  background     : $default-button-background-color;
  border         : $default-button-border;
  border-radius  : $button-border-radius;
  color          : $default-button-text-color;
  cursor         : pointer;
  font-size      : 1em;
  font-weight    : 600;
  height         : $default-button-height;
  letter-spacing : 0.5px;
  line-height    : 1;
  transition     : $button-transition;
  vertical-align : middle;
  width          : $default-button-width;
  margin-right   : $default-button-right-margin;

  &:hover {
    $_color      : hover-color($default-button-background-color);
    background   : $_color;
    border-color : $_color;
  }
  &:focus {
    $_color      : focus-color($default-button-background-color);
    background   : $_color;
    border-color : $_color;
    box-shadow   : custom-focus-effect-for-color($default-button-background-color);
    outline      : none;
  }
  &:active {
    $_color      : active-color($default-button-background-color);
    background   : $_color;
    border-color : $_color;
  }
}

#{$button-selectors} {
  &:not(#menu-button) {
    @extend %button-base;
    &.primary {
      @include solid-button($primary-color);

      &.outline {
        @include outline-button($primary-color);
      }
    }
    &.secondary {
      @include solid-button($secondary-color);
      &.outline {
        @include outline-button($secondary-color);
      }
    }
    &.outline {
      @include outline-button($default-button-background-color);
      &.primary {
        @include outline-button($primary-color);
      }
      &.secondary {
        @include outline-button($secondary-color);
      }
    }
  }
}

#{$button-selectors} {
  &.primary {
    @include solid-button($primary-color);
  }
  &.outline {
    @include outline-button($default-button-background-color);

    &.primary {
      @include outline-button($primary-color);
    }
  }
}

.primary {
  @include solid-button($primary-color);

  &.outline {
    @include outline-button($primary-color);
  }
}

//——————————————————————————————————————————————————————————————————————————————
// (Navigation Bar) Menu Button
//——————————————————————————————————————————————————————————————————————————————

#menu-button {
  appearance    : none;
  background    : $menu-button-background-color;
  border        : none;
  border-radius : $menu-button-border-radius;
  color         : $menu-button-text-color;
  cursor        : pointer;
  display       : block;
  //border: $menu-button-background-color solid 2px;
  height        : $menu-button-size;
  text-align    : center;
  transition    : $menu-button-transition;
  user-select   : none;
  width         : $menu-button-size;

  &:hover {
    background   : $menu-button-background-color--hover;
    border-color : $menu-button-background-color--hover;
  }

  &:focus {
    background   : $menu-button-background-color--focus;
    border-color : $menu-button-background-color--focus;
    box-shadow   : 0 0 0 3px rgba($primary-color, 0.25);
    outline      : none;
  }

  &:active {
    background   : $menu-button-background-color--active;
    border-color : $menu-button-background-color--active;
  }


  @include breakpoint($breakpoint-lg) {
    display : none;
  }
}
#menu-button {
  padding    : 16px;

  position   : relative;
  text-align : center;
  .text-only-content {
    display : none;
  }

  .icon-wrapper {
    align-content   : center;
    align-items     : center;
    bottom          : 10px;
    display         : flex;
    flex-direction  : column;
    height          : 28px;
    justify-content : space-between;
    left            : 8px;
    position        : absolute;
    right           : 8px;
    text-align      : center;
    top             : 10px;
    transition      : $menu-button-transition;
    width           : 32px;

    span {
      background-color : white;
      display          : block;
      height           : 4px;
      transition       : $menu-button-transition;
      width            : 32px;
    }
  }
}
#menu-button {
  &:active {
    .icon-wrapper {
      //display : flex;
      //flex-direction : column;
      //align-items : center;
      //align-content : center;
      //justify-content : center;
      span {
        &:first-of-type {
          transform : translateY(12px);
        }

        &:nth-last-of-type(2) {
          display : none;
        }

        &:last-of-type {
          transform : translateY(-12px);
        }
      }
    }
  }

  &.menu-open {
    background : tomato;

    .icon-wrapper {
      span {
        &:first-of-type { transform : translateY(12px) rotate(45deg); }

        &:nth-last-of-type(2) { display : none; }

        &:last-of-type { transform : translateY(-12px) rotate(-45deg); }
      }
    }

    &:hover {
      background : shade(tomato, 10%);
    }

    &:focus {
      background : shade(tomato, 20%);
      box-shadow : 0 0 0 3px rgba(tomato, 0.25);
      outline    : none;
    }

    &:active {
      background : shade(tomato, 30%);

      .icon-wrapper {
        span {
          &:first-of-type {
            transform : translateY(12px);
          }

          &:nth-last-of-type(2) {
            display : none;
          }

          &:last-of-type {
            transform : translateY(-12px);
          }
        }
      }
    }
  }
}
#menu-button.text-only {
  min-width : auto;
  padding   : 0 1rem;
  width     : unset;

  .icon-wrapper {
    display : none;
  }

  .text-only-content {
    display        : block;
    font-weight    : 600;
    letter-spacing : 1px;
  }
}


//——————————————————————————————————————————————————————————————————————————————
// Form Inputs
//——————————————————————————————————————————————————————————————————————————————

fieldset {
  box-shadow: none;
  border: none;
  display : block;
  width : 100%;
  padding : 1rem 0;
}

label {
  display: block;
  font-size: 1em;
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
  cursor : pointer;
}
input[type=text], input[type=email], input[type=password], input[type=number] {
  display: block;
  width: 100%;
  font-size: 1em;
  line-height: 1;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  border: lightgray solid 2px;
  cursor : text;
  transition: all 120ms;
  &:hover {
    background : $offwhite-one;
    border-color: hover-color(lightgray);
  }
  &:focus {
    background : $offwhite-two;
    border-color : $primary-color;
    outline: none;
    box-shadow: custom-focus-effect-for-color($primary-color);
  }
  &:active {
    background : hover-color($offwhite-one);
    border-color: active-color($primary-color);
  }

}
input:invalid {
  outline: none;
  box-shadow: none;
  background : #ffeaec;
  border-color: #f2a69a;
  //box-shadow: custom-focus-effect-for-color(tomato);
}
input:required:valid {
  border-color: mediumaquamarine;
}

input[type=submit], input[type=reset] {
  line-height: 1 !important;
  padding: 0.5rem 1rem !important;
  border-radius: 3px;
  background : $primary-color !important;
  border-color: $primary-color !important;
  color: white !important;
  font-weight : 500 !important;
  letter-spacing : 1.5px !important;
  height : unset !important;
}

form {
  padding : 2rem;
  min-height : 50vh;
  background : white;
  border-radius: 4px;
  box-shadow: 0 8px 24px -2px rgba(#000, 0.1);
  #{$heading-selectors} {
    margin-bottom : 0.5rem !important;
  }
  p {
    margin-bottom : 1rem !important;
  }
  fieldset {
    &:first-of-type {
      margin-top : 0 !important;
      padding-top : 0 !important;
    }
  }

  @include breakpoint($breakpoint-md) {
    width : 80%;
    margin : 2rem auto;
    padding : 4rem;
    padding-bottom : 3rem;
  }
}

#login-help-link {
  text-align : center;
  margin : 0 auto;
  display : block;
  width : 100%;
  @include breakpoint($breakpoint-md) {
    margin-top : 2rem;
    margin-bottom : 0;
    line-height : 1;
  }
}

#login-form {
  background : $offwhite-one;
}
#login-form-page {
  main {
    background : $offwhite-one !important;
  }
  background : $offwhite-one !important;
}

//——————————————————————————————————————————————————————————————————————————————
// Special Size Constraints and Adjustments
//——————————————————————————————————————————————————————————————————————————————

@include breakpoint($breakpoint-xl) {
  %button-base {
    letter-spacing : 1px;
  }
}

@include breakpoint(960px) {
  #{$button-selectors} {
    font-weight : normal !important;
  }
}

@media screen and (max-width : 479px) {
  #{$button-selectors} {
    &:not(#menu-button) {
      display : block !important;
      margin  : 1rem 0;
      width   : 100% !important;
    }
  }

}
