



//——————————————————————————————————————————————————————————————————————————————
// Layout
//——————————————————————————————————————————————————————————————————————————————
body {
  display : flex;
  flex-direction : column;
  justify-content : space-between;
  height : 100%;
  min-height : 100vh;
}
main {
  width: 100vw;
  margin: 0;
  padding: 1rem 0;
  position: relative;
  flex-grow : 1;
}
main > * {
  @extend %container;
  padding: 1rem 0;
}
section {
  padding: 1rem 0;
  margin-bottom: 2rem;
}
[role=banner] hgroup { @extend .container;}

//——————————————————————————————————————————————————————————————————————————————
// All Page Regions
//——————————————————————————————————————————————————————————————————————————————
#{$page-region-selectors} {
  margin : 0;
  padding : 0;
  position : relative;
  width : 100vw;
  min-width : 100vw;
  max-width : 100vw;
}

//——————————————————————————————————————————————————————————————————————————————
// Page Region Placeholders
//——————————————————————————————————————————————————————————————————————————————
%page-navigation-bar {
  background : $navigation-bar-background-color;
  color: $navigation-bar-text-color;
}
%page-header {
  background : $offwhite-one;
  padding : 2rem 0;
}
%page-main {
  padding : 1rem 0;
  background : white;
}
%page-footer {
  background : $offwhite-one;
  padding : 2rem 0;
  text-align : center;
  p {
    text-align : center;
    margin : 0 auto;
    padding : 0;
    line-height : 1;
    font-size : small;
    color: gray;
    font-weight : 500;
    letter-spacing : 0.5px;
  }
}

//——————————————————————————————————————————————————————————————————————————————
// Page Region Style Assignments
//——————————————————————————————————————————————————————————————————————————————
[role=navigation] { @extend %page-navigation-bar; }
[role=banner] { @extend %page-header; }
[role=main] { @extend %page-main; }
[role=contentinfo] { @extend %page-footer; }

//——————————————————————————————————————————————————————————————————————————————
// More Specific Styles
//——————————————————————————————————————————————————————————————————————————————

nav ul { @extend %unstyled-list; }
nav {
  user-select: none;
  ul {
    display : flex;
    flex-direction : column;
    //align-items : center;
    //align-content : center;
    justify-content : flex-start;
    user-select: none;
  }
  li {
    user-select: none;
  }
  a {
    color: $navigation-bar-text-color;
    text-transform : capitalize;
    text-decoration : none;
    width : 100%;
    line-height : 2.5;
    text-align : center;
    display : block;
    //font-size : 1em;
    font-weight : 500;
    cursor : pointer;
    transition: all 120ms;
    user-select: none;
    font-size : 16px;
    //border: red solid 1px;
    &:hover {
      background : shade($navigation-bar-background-color, 10%);
    }
    &:focus {
      background : shade($navigation-bar-background-color, 20%);
    }
    &:active {
      background : shade($navigation-bar-background-color, 30%);
    }

    &.active {
      background : $active-navigation-menu-link;
      cursor : not-allowed;
      color: rgba(white, 0.75);
      pointer-events: none;
    }
  }
}

nav > ul {
  display : none;
  &.collapsed-visible {
    display : flex;
  }
}

@include breakpoint($breakpoint-lg) {
  nav {
    text-align : left;
    ul {
      //border: red solid 1px;
      text-align : left;
      display : flex;
      flex-direction : row;
      align-content : center;
      align-items : center;
      justify-content : flex-end;
      width: 90%;
      max-width: 768px;
      margin: 0 auto;
      li {
        a {
          width : unset;
          padding : .75rem;
          line-height : 1;
          text-align : center;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  nav {
    width : 100%;
    text-align : right;
    display : flex;
    flex-direction : row;
    align-items : center;
    align-content : center;
    justify-content : flex-end;
  }
  nav ul {
    max-width : unset;
    width : 100% !important;
    margin : 0;
    padding-right : 2rem;
    //justify-content : space-evenly;
    justify-content : space-between;
    //align-items : stretch;
    //align-content : stretch;
    display : flex;
    flex-direction : row;
  }
  nav ul li {
    flex-grow : 1 !important;
  }
  nav a {
    //display : unset;
    //width : 100% !important;
    //flex-basis: auto;
    //margin : 0;x

    //flex-shrink: 1;
  }
}

@media screen and (min-width: 960px){
  .container, %container, nav ul {
    //width : 80%;
    max-width : 800px;
  }
}

@media screen and (min-width: 1024px){
  .container, %container, nav ul {
    max-width : 800px;
  }
}



