

@mixin solid-button($_color) {
  background-color: $_color;
  border-color: $_color;
  color: contrast-switch($_color);
  $_hover-color: hover-color($_color);
  $_focus-color: focus-color($_color);
  $_active-color: active-color($_color);
  &:hover {
    background : $_hover-color;
    border-color : $_hover-color;
  }
  &:focus {
    background : $_focus-color;
    border-color : $_focus-color;
    outline: none;
    box-shadow: custom-focus-effect-for-color($_color);
  }
  &:active {
    background : $_active-color;
    border-color : $_active-color;
  }
}

@mixin outline-button($_color) {
  background-color: transparent;
  color: $_color;
  border-color: $_color;
  $_hover-color: hover-color($_color);
  $_focus-color: focus-color($_color);
  $_active-color: active-color($_color);
  &:hover {
    background : transparent;
    color: $_hover-color;
    border-color : $_hover-color;
  }
  &:focus {
    background : rgba($_color, 0.25);
    color : $_focus-color;
    border-color : $_focus-color;
    outline: none;
    box-shadow: custom-focus-effect-for-color($_color);
  }
  &:active {
    background : rgba($_color, 0.5);
    color:  $_active-color;
    border-color : $_active-color;
  }
}
