//——————————————————————————————————————————————————————————————————————————————
// Typography
//——————————————————————————————————————————————————————————————————————————————

// Modular Scale

/* Base */
html, body, p { @include ms-respond(font-size, 0); }

/* All Headings */
#{$heading-selectors} {
  color         : $heading-color;
  font-weight   : $heading-font-weight;
  line-height   : $heading-line-height;
  margin-bottom : $heading-margin-bottom;
  margin-top    : $heading-margin-top;
}

/*h1 { font-size : ms(5); }

h2 { font-size : ms(4); }

h3 { font-size : ms(3); }

h4 { font-size : ms(2); }

h5 { font-size : ms(1); }*/

/* Individual Headings */
h1 { @include ms-respond(font-size,5); }
h2 { @include ms-respond(font-size,4); }
h3 { @include ms-respond(font-size,3); }
h4 { @include ms-respond(font-size,2); }
h5 { @include ms-respond(font-size,1); }
h6 { @include ms-respond(font-size,0); }

p { line-height : 1.7; }

p:last-child { margin-bottom : 2rem; }

body, p, label, li, ul, ol, summary, dt, small, figcaption {
  color: $body-text-color;
  line-height : 1.5;
}

p { line-height : 1.7; }
