


//——————————————————————————————————————————————————————————————————————————————
// Lists
//——————————————————————————————————————————————————————————————————————————————
%unstyled-list {
  list-style: none;
  padding : 0;
  margin : 0;
  li {
    list-style: none;
    padding : 0;
    margin : 0;
  }
}

//——————————————————————————————————————————————————————————————————————————————
// Functions
//——————————————————————————————————————————————————————————————————————————————

@function hover-color($_base-color: $primary-color) {
  @return shade($_base-color, 10%);
}
@function focus-color($_base-color: $primary-color) {
  @return shade($_base-color, 20%);
}
@function active-color($_base-color: $primary-color) {
  @return shade($_base-color, 30%);
}
@function color-for-state($_base-color: $primary-color, $_state: hover) {
  @if($_state == hover) {
    @return hover-color($_base-color);
  } @else if($_state == focus) {
    @return focus-color($_base-color);
  } @else if($_state == active) {
    @return active-color($_base-color);
  } @else {
    @return hover-color($_base-color);
  }
}

@function custom-focus-effect-for-color($_color: $primary-color) {
  @return 0 0 0 3px rgba($_color, 0.25);
}

