//==============================================================================
// Variables
//==============================================================================

//——————————————————————————————————————————————————————————————————————————————
// Typography
//——————————————————————————————————————————————————————————————————————————————

// Modularscale Settings
//$modularscale : (base: 18px, ratio: 1.333);
$modularscale : (base : 16px, ratio: 1.12,
        480px : (base : 16px, ratio: 1.2,),
        900px : (base : 17px, ratio: 1.25,),
       1000px : (base : 18px, ratio: 1.25,),
       1100px : (base : 19px, ratio: 1.25,),
       1150px : (base : 20px, ratio: 1.25,),
       1200px : (base : 21px, ratio: 1.25,),
       1280px : (base : 22px, ratio: 1.25,),);

// Fontstacks - Fallback / System
$fallback-font                        : system-ui, -apple-system, BlinkMacSystemFont,
                                        Helvetica Neue, Helvetica, Arial, sans-serif;
// Fontstacks - Main
$font-family                          : $fallback-font !default;
// Heading Properties
$heading-line-height                  : 1.5;
$heading-font-weight                  : 600;
$heading-margin-top                   : 0;
$heading-margin-bottom                : 1rem;

//——————————————————————————————————————————————————————————————————————————————
// Selector Groups
//——————————————————————————————————————————————————————————————————————————————

$button-selectors                     : ("button, [type=button], [type=submit], [type=reset], .button");
$heading-selectors                    : ("h1, h2, h3, h4, h5, h6");
$page-region-selectors                : ("[role=navigation],[role=banner],[role=main],[role=contentinfo]");

//——————————————————————————————————————————————————————————————————————————————
// Colors
//——————————————————————————————————————————————————————————————————————————————

$primary-color                        : #6a4dff;
$active-navigation-menu-link          : $primary-color;
$dark-color                           : #444444;
$body-text-color                      : #333333;
$custom-focus-color                   : $primary-color;
$default-color                        : #d0d0d0;
$default-dark-color                   : #585858;
$heading-color                        : #4f4f4f;
$offwhite-one                         : ghostwhite;
$offwhite-two                         : whitesmoke;
$navigation-bar-background-color      : $dark-color;
$navigation-bar-text-color            : white;
$secondary-color                      : #2e2e2e;

//——————————————————————————————————————————————————————————————————————————————
// Default Attributes
//——————————————————————————————————————————————————————————————————————————————

// Component Shape Defaults
$default-border-radius                : 3px;
$default-border-width                 : 2px;
$default-transition-duration          : 120ms;

//——————————————————————————————————————————————————————————————————————————————
// Buttton Attributes
//——————————————————————————————————————————————————————————————————————————————

// Button Shape Defaults
$button-border-radius                 : $default-border-radius;
$button-border-width                  : $default-border-width;
//$default-button-width               : 128px;
$default-button-width                 : 7em;
//$default-button-height              : 46px;
$default-button-height                : 2.25em;
$default-button-right-margin          : 1rem;

// Button Transitions
$button-transition-duration           : $default-transition-duration;
$button-transition                    : all $button-transition-duration;

// Default Buttons
$default-button-background-color      : $default-color;
$default-button-text-color            : $default-dark-color;
$default-button-border-color          : $default-color;
$default-button-border                : $default-color solid $button-border-width;

// Primary Buttons
$primary-button-background-color      : #6a4dff;
$primary-button-text-color            : white;
$primary-button-border                : $primary-color solid $button-border-width;

//——————————————————————————————————————————————————————————————————————————————
// Breakpoints
//——————————————————————————————————————————————————————————————————————————————

$breakpoint-xs                        : 480px;
$breakpoint-sm                        : 560px;
$breakpoint-md                        : 640px;
$breakpoint-lg                        : 768px;
$breakpoint-xl                        : 900px;
$breakpoint-xx                        : 1024px;
$breakpoint-3x                        : 1280px;

//——————————————————————————————————————————————————————————————————————————————
// Menu Button
//——————————————————————————————————————————————————————————————————————————————

$menu-button-size                     : 48px;
$menu-button-border-radius            : $default-border-radius;
$menu-button-background-color         : $navigation-bar-background-color;
$menu-button-background-color--hover  : shade($menu-button-background-color, 10%);
$menu-button-background-color--focus  : shade($menu-button-background-color, 20%);
$menu-button-background-color--active : shade($menu-button-background-color, 30%);
$menu-button-text-color               : $navigation-bar-text-color;
$menu-button-icon-color               : $navigation-bar-text-color;
//$menu-button-transition-duration    : 80ms;
$menu-button-transition-duration      : 80ms;
$menu-button-transition               : all $menu-button-transition-duration;
